* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn
{
    padding: 20px 30px;
    background-color: black;
    color:#fff;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
}
.btn::before
{
    content:"";
    position: absolute;
    top:0;
    left: 100%;
    width: 50%;
    height: 100%;
    background-color: tomato;
    transition: all 0.3s;
}
.btn:hover::before
{
    left: 50%;
}
.btn::after
{
    content:"";
    position: absolute;
    top:0;
    right: 100%;
    width: 50%;
    height: 100%;
    background-color: tomato;
    transition: all 0.3s;
}
.btn:hover::after
{
    right:50%;
}
.btn span{
    position: relative;
    z-index: 1;
}
