 footer {
     line-height: 2.5em;
     color: #fff;
     display: flex;
     flex-wrap: wrap;
     padding: 0px 190px 50px 210px;
     background-color: #30598c;
     font-family: 'Roboto', sans-serif;
 }
 
 #col1,
 #col2,
 #col3,
 #col4 {
     background-color: #30598c;
     max-width: 25%;
     flex: 0 0 25%;
 }
 
 h1 {
     padding: 30px 0px 0px 0px;
     font-size: 18px;
     text-transform: uppercase;
     line-height: 1.2;
 }
 
 a {
     text-decoration: none;
     color: #fff;
 }
 
 li {
     font-size: 14px;
     list-style: none;
 }
 
 i {
     font-size: 29px;
     padding: 20px 20px 20px 0px;
 }