.box{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    /* transition-property: width, height;
    transition-duration: 1s, 2s; */
    transition: all 1s 1s;  
    /* delay-on, delay-off 1s diễn ra trong 1s */
}
.box:hover{
    width: 400px;
    height: 300px;
}
.content{
    width: 500px;
    color:#ff2;
    background-color: black;
    padding: 20px;
    margin: auto;
    overflow: hidden;
}
.content h3{
    position: relative;
    left: 550px;
    opacity: 0;
    transition: all 1s;
}
.content p{
    position: relative;
    left: -550px;
    opacity: 0;
    transition: all 1s;
}
.content:hover h3{
    left: 0;
    opacity: 1;
}
.content:hover p{
    left: 0;
    opacity: 1;
}
